body {
  background-color: khaki;
  font-family: sans-serif;
}

header {
  margin-top: 5%;
}

main {
  margin: 0 auto;
  max-width: 60%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

form {
  text-align: center;
}

a {
  color: black;
}

a:hover {
  color: chocolate;
}

footer {
  margin-top: 5%;
  text-align: center;
}

#prompt-input {
  border: 1;
  padding: 12px;
  border-radius: 20px;
  border-width: 3px;
  border-color: burlywood;
  text-align: center;
}

#submit-button {
  border: 0;
  padding: 12px;
  border-radius: 20px;
  background-color: burlywood;
  margin-left: 5px;
  text-align: center;
}

#submit-button:hover {
  background-color: chocolate;
}

.recipe-container {
  background-color: white;
  border-left-color: burlywood;
  border-radius: 5px;
  max-width: 60%;
  margin: 0 auto;
}

.footer-links {
  color: black;
}
